server:
  port: 8081
  servlet:
    context-path: /api
    #ssl:
    #enabled: true
    #key-store: classpath:keystore.p12
    #key-store-password: changeit
    #key-store-type: PKCS12
    #key-alias: tomcat

spring:
  application:
    name: legendary
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:mysql://localhost:3306/legendaryuser?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Nackonel1@
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

  # MAIL CONFIGURATION
  mail:
    host: smtp.gmail.com
    port: 587
    username: samuelkunle.sk@gmail.com
    password: lqxsbriemleuawfw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: "*"
          ssl-checkserveridentity: false
        # GLOBAL SSL DISABLE:
        smtp.ssl.trust: "*"
        smtp.ssl.checkserveridentity: false
        mail.smtp.ssl.trust: "*"
        mail.smtp.ssl.checkserveridentity: false
        connectiontimeout: 10000
        timeout: 15000
        writetimeout: 10000
        debug: true


app:
  jwt:
    secret: bXlTZWNyZXRLZXkxMjM1Njc4cXdlcnR5dWlvcGpoZ2Zkc2ZnaGo5NGdmZXJ0eXVpbzIzNDVqZHM1a2poZ2ZkNDU3NjU0ZmdoZmQ=
    expiration-ms: 86400000
  frontend:
    url: http://127.0.0.1:5500
  backend:
    url: http://localhost:8081/api/auth
  email:
    from: samuelkunle.sk@gmail.com
  security:
    max-login-attempts: 5
    lock-time-duration: 1800000
    otp:
      expiration-minutes: 10
      length: 6
    rate-limit:
      requests-per-hour: 5


# Logging configuration
logging:
  level:
    com.legendaryUser.legendary: DEBUG
    org.springframework.security: DEBUG
    com.legendaryUser.legendary.security: DEBUG

    org:
      springframework:
        security: DEBUG
        web: DEBUG
    com:
      myapp: DEBUG

    org.springframework.mail: DEBUG
    com.sun.mail: DEBUG
    com.zaxxer.hikari: INFO
    org.hibernate: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n"
  file:
    name: logs/auth-app.log

management:
  endpoints:
    web:
      exposure:
        include: env
  endpoint:
    env:
      enabled: true
